{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %} <!-- Main Start Block -->

<div>
    Widget defined in views/display_dummy_results.html
    <br>
    <br>
{% for result in results %}
    <b>Summary</b>: {{ result.summary }}
    <br>
    {% for action_result in result.action_results %}
        <b>Summary Message</b>: {{ action_result.summary.message }}
        <br>
        <br>
        <table style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px">
            <thead>
                <td>Name</td>
                <td>Value</td>
                <td>Type</td>
            </thead>
            <tbody>
        {% for data in action_result.data %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.value }}</td>
                    <td>{{ data.type }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endfor %}
</div>


{% endblock %} <!-- Main Start Block -->
